<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright © WOOF! Republic 2016</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                  <li><a href="https://www.instagram.com/woofsocal/"><i class="fa fa-instagram"></i></a>
                  </li>
                    <li><a href="https://twitter.com/woofrepublic"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/woofrepublic"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a>
                    </li>
                    <li><a href="mailto:info@lisawenke.com?Subject=Website%20Inquiry"><i class="fa fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
