


<div class="row text-center header-bar">
    <div class="col-sm-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="glyphicon glyphicon-heart"></i>
        </span>

        <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
<h4 class="service-heading">Categories</h4>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Humor</a></li>
    <li><a href="#">City</a></li>
    <li><a href="#">Health</a></li>
    <!-- <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li> -->
  </ul>
</div>
        <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
    </div>
    <div class="col-sm-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="glyphicon glyphicon-tree-deciduous"></i>
        </span>
        <h4 class="service-heading"><a href="#">City Guide</a></h4>
        <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
    </div>
    <div class="col-sm-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="glyphicon glyphicon-tint"></i>
        </span>
        <h4 class="service-heading">Dog</h4>

    </div>
    <div class="col-sm-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="glyphicon glyphicon-gift"></i>
        </span>
        <h4 class="service-heading">Where to Shop</h4>

    </div>
</div>
